    {% extends "base.html" %}
    {% block blogtitle %} View Post {% endblock %}
    {% block basecontent %}
        <div class ="mainContent">
            <h4> {{ message }} {{ post.title }} </h4>
            <div class ="postContent">
                <p> Date: {{ post.timestamp }} </p>
                <p> {{ post.content | safe }} </p>
            </div>
            <nav id ="detail_nav">
                <a href="/editblog/{{ post.id }}/"> Edit Post </a> |
                <a href="/deleteblog/{{ post.id }}/"> Delete Post </a>
            </nav>
        </div>
    {% endblock %}
